header {
    background-color: #E4D4C8;
    color: #523A28;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
}
body{
    color: black;
    font-family: "Tajawal", sans-serif;
    font-size: 15px;
}
h1{
    font-family: "Tajawal", sans-serif;
    font-size: 32px;
}
label{
    font-family: "Tajawal", sans-serif;
    font-size: 16px;
    align-self: center;
    margin: 10px;
}
input{
    font-family: "Tajawal", sans-serif;
    font-size: 16px;
    align-self:flex-end;
    margin: 10px;
}
button{
    font-family: "Tajawal", sans-serif;
    float:right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #523A28;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover {
  background-color: #A47551;
}

.active {
    background-color: #D0B49F;
}
footer {
    background-color: #E4D4C8;
    color: #523A28;
    font-family: "Tajawal", sans-serif;
    font-size: 18px;
    position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}